
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.graphContainer {
  display: flex;
  height: 600px;
  width: 1500px;
  background-color: 'red';
  margin-top: 20px;
}
